<div class="text-field {{class}}" style="{{style}}">
  <span class="text-field__label">{{label}}</span>
  <input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" value="{{value}}">
  <span class="text-field__error">{{error}}</span>
</div>